CryptoApp/Connected Services/CryptoServiceReference/CryptoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57505/CryptoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CryptoLib" />
  <xs:import schemaLocation="http://localhost:57505/CryptoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Crypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CryptoLib" minOccurs="0" name="a" type="q1:Algorithm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CryptResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeCrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CryptoLib" minOccurs="0" name="a" type="q2:Algorithm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeCryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeCryptResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CryptoLib" minOccurs="0" name="a" type="q3:Algorithm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="specArguments" nillable="true" type="q4:ArrayOfKeyValueOfstringbase64Binary" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CryptoLib" minOccurs="0" name="a" type="q5:Algorithm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPropertiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetIVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomizeKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomizeKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RandomizeKeysResult" nillable="true" type="q6:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomizeIV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomizeIVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RandomizeIVResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>