CryptoApp/Connected Services/CryptoServiceReference/CryptoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CryptoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57505/CryptoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57505/CryptoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57505/CryptoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CryptoLib" />
      <xsd:import schemaLocation="http://localhost:57505/CryptoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICryptoService_Crypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Crypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_Crypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_DeCrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:DeCrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_DeCrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeCryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKey" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProperties" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetIV_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIV" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetIV_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIVResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_RandomizeKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:RandomizeKeys" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_RandomizeKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:RandomizeKeysResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_RandomizeIV_InputMessage">
    <wsdl:part name="parameters" element="tns:RandomizeIV" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_RandomizeIV_OutputMessage">
    <wsdl:part name="parameters" element="tns:RandomizeIVResponse" />
  </wsdl:message>
  <wsdl:portType name="ICryptoService">
    <wsdl:operation name="Crypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/Crypt" message="tns:ICryptoService_Crypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/CryptResponse" message="tns:ICryptoService_Crypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeCrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/DeCrypt" message="tns:ICryptoService_DeCrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/DeCryptResponse" message="tns:ICryptoService_DeCrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/SetKey" message="tns:ICryptoService_SetKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/SetKeyResponse" message="tns:ICryptoService_SetKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/SetProperties" message="tns:ICryptoService_SetProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/SetPropertiesResponse" message="tns:ICryptoService_SetProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIV">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/SetIV" message="tns:ICryptoService_SetIV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/SetIVResponse" message="tns:ICryptoService_SetIV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RandomizeKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/RandomizeKeys" message="tns:ICryptoService_RandomizeKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/RandomizeKeysResponse" message="tns:ICryptoService_RandomizeKeys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RandomizeIV">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/RandomizeIV" message="tns:ICryptoService_RandomizeIV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/RandomizeIVResponse" message="tns:ICryptoService_RandomizeIV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICryptoService" type="tns:ICryptoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/Crypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeCrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/DeCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKey">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/SetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProperties">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/SetProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIV">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/SetIV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomizeKeys">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/RandomizeKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomizeIV">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/RandomizeIV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptoService">
    <wsdl:port name="BasicHttpBinding_ICryptoService" binding="tns:BasicHttpBinding_ICryptoService">
      <soap:address location="http://localhost:57505/CryptoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>